/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    background-color: #092b4a;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
}

/* .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:  rgb(118,128,201);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
} */

.btn-ico{
    font-size: 45px;
    display: flex;
    gap: 1rem;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color:  rgb(118,128,201);
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px  rgb(118,128,201);
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 30px 4%;
   /* top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(16, 239, 255);
    color: white;
    padding: 5px;
    font-size: 1.5em; */
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color:  rgb(118,128,201);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}


ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    height: 100%;
    width: 100%;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

/*.btn-abrir-menu{
    display: none;
}*/

/*.btn-abrir-menu i{
    color:  rgb(118,128,201);
    font-size: 40px;
}*/

/*.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color:  rgb(118,128,201);
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: rgb(118,128,201);
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}*/

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color:  rgb(118,128,201);
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    border-radius: 100px 100px 100px 50px;
    box-shadow: 41px 41px 41px 2px rgb(6, 65, 105);
}





/*@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}*/

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    /*color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;*/
    width: 16rem;
    height: 9rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color:  rgb(118,128,201);
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color:  rgb(118,128,201);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(118,128,201);
    font-size: 22px;
    cursor: pointer;
   /* margin: 1 1.6rem;*/
    gap: 2rem;
}



/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay a{
    color: white;
    text-decoration: none;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: rgb(118,128,201);
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.logo-footer a{
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    margin: 2rem;
    
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid  rgb(118,128,201);
}

footer .line-footer p i {
    color: rgb(118,128,201);
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

.menu-icon{
    display: none;
    cursor: pointer;
}



@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
       /* flex-direction: column;*/
       display: flex;
       flex-wrap: wrap;
    }

    .topo-do-site .flex{
       /* flex-direction: column-reverse;*/
        display: flex;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: block;
        padding: 0px;
        margin: 0px;
        width: 2rem;
    }


    

    .menu-icon{
        display: block;
    }

    .navbar ul{
        position: absolute;
        background: rgb(9,43,74);
        background: linear-gradient(90deg, rgba(9,43,74,0.9976365546218487) 30%, rgba(255,150,172,0.41780462184873945) 100%);
        top: 80px;
        left: -100%;
        gap: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 35%;
        transition: 0.3s;
        margin: 0px;
        padding: 2px;
    }

    .navbar ul.open{ /*Para o JavaScript*/
        left: 0;
    }

    .navbar ul li{
        margin: 5px 0;
        cursor: pointer;
    }

    .navbar ul li a{
        cursor: pointer;
        font-weight: bold;
    }

    .interface{
        width: 100%;
        margin: 2px; /*Ultimo editado para responsividade*/
        padding: 3rem;
    }

   
    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 1px 8%;
        display: flex;
        width: 100%;
    }

    .especialidades-box{
        display: flex;
        flex-wrap: wrap;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}


/*Inicio botao animado*/



.sitebtn {
    align-items: center;
    appearance: none;
    background-color: #EEF2FF;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536DFE;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536DFE;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 2.8rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
  }
  
  .sitebtn button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .sitebtn button :hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .sitebtn :active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

.direitos{
    background-color: transparent;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.1rem;
}

.direitos a{
    color: #000;
    text-decoration: none;
}

.local{
    display: flex;
    color: #ffffff;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.local a {
    color: rgb(255, 255, 255);
}